.container-fluid {
    /* margin-left:80;
    margin-right:80; 
    min-width: 1500;
    max-width: 1720; */
    padding:40px;
    width: 100%;
    background-color:cornflowerblue;
}

.jumbotron {
    background-color:rgb(46, 43, 43);
}

h1 {
    color:white;
    font-size: 3rem
}
h3 {
    color: rgb(160, 156, 156);
    text-align: center;
}

#hard-skills {
    background-color:lightgray;
}

#soft-skills {
    background-color:rgb(83, 82, 82);
}

#soft-skills-ul {
    color:white
}

.white-h2-header {
    color:white
}

#projects-header {
    text-align: center;
}

#inflation-row {
    background-color:gray
}

#inflation-model-row {
    color:white;
    background-color:rgb(83, 82, 82)
}

#mpc-project-row {
    background-color:lightgray
}

#inflation-github {
    text-align: center;
    text-decoration: underline;
}

#inflation-link {
    color:white;
}

#mpc-github {
    text-align: center;
    text-decoration: underline;
}

#mpc-link {
    color:black;
}

h2 {
    text-decoration:underline
}

#work-header {
    text-align: center;
}

#mpc-experience {
    background-color:rgb(83, 82, 82);
    color:white
}

#mea-experience {
    background-color:gray;
}

#contractor-experience {
    background-color:lightgray;
}

#aedc-experience {
    background-color:rgb(83, 82, 82);
    color:white
}

#mea-title {
    color:rgb(83, 82, 82);
    text-align:left
}

#contractor-title {
    color:rgb(83, 82, 82);
    text-align:left
}

#mpc-title {
    text-align:left;
}

#aedc-title {
    text-align:left;
}

#gmu-edu {
    background-color:gray
}

#du-edu {
    background-color:lightgray
}

#csu-edu {
    background-color:rgb(83, 82, 82);
    color:white
}

#tcu-edu {
    background-color:gray
}

#gmu-degree {
    color:rgb(83, 82, 82);
    text-align:left
}

#du-degree {
    color:rgb(83, 82, 82);
    text-align:left
}

#csu-degree {
    text-align:left
}

#tcu-degree {
    color:rgb(83, 82, 82);
    text-align:left
}

#personal {
    background-color:rgb(83, 82, 82);
    color:white
}

#about-me {
    background-color:gray
}

#logo-container {
    text-align:center
}

/* #mpc-skills {
    text-decoration:bold;
} */
/* Underline section headers
Spacing/buffer/margin
Inflation project font color to white */
